


<div class="row">
  <div class="column">
    <%= student.name %>
  </div>
  <div class="column">
    <%= student.roll_no %>
  </div>
  <div class="column">
    <%= student.attendence %>
  </div>
  <div class="column">
    <%= link_to "Show this student", student %>
  </div>
</div>
